################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/LeaveManagementPortal/obj
/LeaveManagementPortal/bin
/LMS.App/obj
/LMS.App/bin
/LMS.Web/obj
/LMS.Web/bin
/LMS.Shared/obj
/LMS.Shared/bin