################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/LeaveManagementPortal/obj
/LeaveManagementPortal/bin
/LMS.App/obj
/LMS.App/bin