@inherits LayoutComponentBase

<PageTitle>Leave Management Portal</PageTitle>

<div class="page">
    <NavMenu />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
